.App {
  text-align: center;

}

body{  background-color: #232323;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard{
  margin-left: 50px;
 text-align: start;  
}


.nav-container{
  background-color: #161616;
  height: max-content; 

}

.nav-content{
  padding: 20px;
  text-align: left;
  color:  #A5A5A5;
  ;
}

hr{
  color: #232323;
}

li{
  padding: 2em;
}